{% extends "base.html" %}

{% block content %}          
          
          
          <main class="flex-1" x-data="{showMessage:true}">
              <div class="py-8 xl:py-10">
                <div class="max-w-3xl px-4 mx-auto sm:px-6 lg:px-8 xl:max-w-5xl xl:grid xl:grid-cols-3">
                  <div class="xl:col-span-2 xl:pr-8 xl:border-gray-200">
                     
                        <form action="#" method="POST">
                            {% csrf_token %}
                            <div class="shadow sm:rounded-md sm:overflow-hidden">
                              <div class="px-4 py-6 space-y-6 bg-white sm:p-6">
                            {% if messages %}
                              {% for msg in messages %}
                                  <div x-show="showMessage" x-init="setTimeout(() => showMessage = false, 3000)" class="p-3 bg-green-200 rounded" role="alert">
                                      <strong>{{msg}}</strong>
                                      <!-- <span x-click="alert('hee')" class="float-right" href=aria-hidden="true">&times;</span> -->
                                      
                                  </div>
                              {% endfor %}
                            {% endif %}
                                <div>
                                  <h3 class="text-lg font-medium leading-6 text-gray-900">Bulk Address Creation</h3>
                                  <!-- <p class="mt-1 text-sm text-gray-500">Use a permanent address where you can recieve mail.</p> -->
                                </div>
                    
                                <div class="grid grid-cols-6 gap-6">
                                  <div class="col-span-6 sm:col-span-3">
                                    <label for="target_ip" class="block text-sm font-medium text-gray-700">Target IP Address</label>
                                    <input type="text" name="target_ip" id="target_ip" autocomplete="given-name" class="block w-full px-3 py-2 mt-1 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                  </div>
                    
                                  <div class="col-span-6 sm:col-span-3">
                                    <label for="firewall_type" class="block text-sm font-medium text-gray-700">Firewall Type</label>
                                    <select id="firewall_type" name="firewall_type" autocomplete="firewall_type" class="block w-full px-3 py-2 mt-1 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                        <option>Dell-AMER-logging-profile</option>
                                        <option>Dell-Amer-logging-profile</option>
                                        <option>Dell-EMEA-logging-profile</option>
                                        <option>Dell-APAC-logging-profile</option>
                                      </select>
                                  </div>
                    
                                  <div class="col-span-6">
                                    <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
                                    <input type="text" name="username" id="username"  class="block w-full px-3 py-2 mt-1 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                  </div>
                                  <div class="col-span-6">
                                    <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                                    <input type="password" name="password" id="password"  class="block w-full px-3 py-2 mt-1 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                  </div>

                                  
                                  <div class="col-span-6">
                                    <label for="address_group_name" class="block text-sm font-medium text-gray-700">Address Group Name</label>
                                    <input type="text" name="address_group_name" id="address_group_name"  class="block w-full px-3 py-2 mt-1 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                  </div>

                                  
                                  <div class="col-span-6">
                                    <label for="comment" class="block text-sm font-medium text-gray-700">Comment</label>
                                    <input type="text" name="comment" id="comment"  class="block w-full px-3 py-2 mt-1 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                  </div>
                                  
                                  <div class="col-span-6">
                                    <label for="context" class="block text-sm font-medium text-gray-700">Context</label>
                                    <input type="text" name="context" id="context"  class="block w-full px-3 py-2 mt-1 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                  </div>
                     
                    
                                  <div class="col-span-6 ">
                                    <label for="region" class="block text-sm font-medium text-gray-700">Address Objects</label>
                                    <textarea id="about" name="about" rows="3" class="block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"></textarea>
                                  </div>
                                  <div class="relative flex items-start">
                                    <div class="flex items-center h-5">
                                      <input id="comments" name="comments" type="checkbox" class="w-4 h-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500">
                                    </div>
                                    <div class="ml-3 text-sm">
                                      <label for="comments" class="font-medium text-gray-700">Readonly</label>
                                    
                                    </div>
                                  </div>
                                  
                                </div>
                              </div>
                              <div class="px-4 py-3 text-right bg-gray-50 sm:px-6">
                                <button type="submit" class="inline-flex justify-center px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                  Submit
                                </button>
                              </div>
                            </div>
                          </form>   
                   
                  </div>
                 
                </div>
              </div>
            </main>

{% endblock content %}
