{% extends "base.html" %}

{% block content %}         
            
                    <main class="flex-1 pb-8">
                        <!-- Page header -->
                  
                        <div class="mt-3">
                  
                          <h2 class="max-w-6xl mx-auto mt-8 px-4 text-lg leading-6 font-medium text-gray-900 sm:px-6 lg:px-8">
                            History
                          </h2>
  
                        
                  
                          <!-- Activity table (small breakpoint and up) -->
                          <div class="  sm:block">
                            <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
                              <div class="flex flex-col mt-2">
                                <div class="align-middle min-w-full overflow-x-auto shadow overflow-hidden sm:rounded-lg">
                                  <table class="min-w-full divide-y divide-gray-200">
                                    <thead>
                                      <tr>
                                        <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                          Transaction
                                        </th>
                                        
                                      </tr>
                                    </thead>
                                    <tbody class="bg-white divide-y divide-gray-200">
                                      <tr class="bg-white">
                                        <td class="max-w-0 w-full px-6 py-4 whitespace-nowrap text-sm text-gray-900">
                                          <div class="flex" x-data="{selected:null}">
                                           

                                            <ul class="shadow-box">
                                                 {% for data in form_data %}

                                          
                                               {% if data.jobType == "ruleSearch"%}

                                                <li class="relative border-b border-gray-200">
                                        
                                                    <button type="button" class="w-full px-8 py-6 text-left" @click="selected !== 2 ? selected = 2 : selected = null">
                                                        <div class="flex items-end">
                                                            <span class="font-medium float-left">
                                                               Bulk Address Created at {{ data.createdAt }} | 
                                                               <span class="font-medium text-gray-500">
                                                                Executed by: {{data.createdBy}} | 
                                                                <span class="font-medium text-green-600">
                                                                    Status: Success			
                                                                </span>
                                                               </span>
                                                            </span>
                                                            
                                                        </div>
                                                                    </button>

                                                                    
                                        
                                                    <div class="relative overflow-hidden transition-all max-h-0 duration-700" style="" x-ref="container1" x-bind:style="selected == 2 ? 'max-height: 200px' : ''">
                                                        <table class="min-w-full divide-y divide-gray-200 border-gray-200">
                                                           
                                                            <tbody>
                                                              
                                                              <tr class="bg-gray-50">
                                                                
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                                                    Target IP Address
                                                                </td>
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                                  {{ data.targetID }}
                                                                </td>

                                                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                                                    Firewall Type
                                                                </td>
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                                    {{ data.firewallType }}
                                                                </td>
                                                              
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                                                   Username
                                                                </td>
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                                    {{ data.username }}
                                                                </td>
                                                                
                                                              </tr>

                                                              <tr class="bg-gray-50">
                                                                
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                                                    Rule Match Pattern
                                                                </td>
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                                  {{ data.ruleMatchPattern }}
                                                                </td>

                                                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                                                  Enable Debug Output
                                                                </td>
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                                    {{ data.enableDebugOutput }}
                                                                </td>
                                                              
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                                                   Do Not Match "any" Address
                                                                </td>
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                                    {{ data.doNotMatchAnyAddress }}
                                                                </td>

                                                              </tr>

                                                              <tr class="bg-gray-50">
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                                                   Do Not Match "any" Service
                                                                </td>
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                                    {{ data.doNotMatchAnyService }}
                                                                </td>
                                                                
                                                              </tr>
                                                   
                                                            </tbody>
                                                          </table>
                                                    </div>
                                                    
                                                </li>
                                                {% endif %}

                                                {% if data.jobType == "migrations"%}

                                                <li class="relative border-b border-gray-200">
                                        
                                                    <button type="button" class="w-full px-8 py-6 text-left" @click="selected !== 2 ? selected = 2 : selected = null">
                                                        <div class="flex items-end">
                                                            <span class="font-medium float-left">
                                                               Bulk Address Created at {{ data.createdAt }} | 
                                                               <span class="font-medium text-gray-500">
                                                                Executed by: {{data.createdBy}} | 
                                                                <span class="font-medium text-green-600">
                                                                    Status: Success			
                                                                </span>
                                                               </span>
                                                            </span>
                                                            
                                                        </div>
                                                                    </button>

                                                                    
                                        
                                                    <div class="relative overflow-hidden transition-all max-h-0 duration-700" style="" x-ref="container1" x-bind:style="selected == 2 ? 'max-height: 200px' : ''">
                                                        <table class="min-w-full divide-y divide-gray-200 border-gray-200">
                                                           
                                                            <tbody>
                                                              
                                                              <tr class="bg-gray-50">
                                                                
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                                                    Target IP Address
                                                                </td>
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                                  {{ data.targetID }}
                                                                </td>

                                                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                                                    Device Group Template Name
                                                                </td>
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                                    {{ data.group_name }}
                                                                </td>
                                                              
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                                                   Username
                                                                </td>
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                                    {{ data.username }}
                                                                </td>
                                                                
                                                              </tr>

                                                              <tr class="bg-gray-50">
                                                                
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                                                    Logging Profile Name
                                                                </td>
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                                  {{ data.loggingProfileName }}
                                                                </td>

                                                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                                                  Security Profile Name
                                                                </td>
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                                    {{ data.securityProfileName }}
                                                                </td>
                                                              
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                                                  Interface Mappings
                                                                </td>
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                                    {{ data.interfaceMapping }}
                                                                </td>

                                                              </tr>

                                                              <tr class="bg-gray-50">
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                                                  Zone Mappings
                                                                </td>
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                                    {{ data.zoneMapping }}
                                                                </td>
                                                                
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                                                  Remove Dupes
                                                                </td>
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                                    {{ data.removeDupes }}
                                                                </td>

                                                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                                                 Remove Unused
                                                                </td>
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                                    {{ data.removeUnused }}
                                                                </td>
                                                              </tr>

                                                              <tr>
                                                              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                                                 Checkpoint Expansion
                                                                </td>
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                                    {{ data.checkPointExpansion }}
                                                                </td>

                                                              </tr>

                                                   
                                                            </tbody>
                                                          </table>
                                                    </div>
                                                    
                                                </li>
                                               

                                              {% endif %}

                                              {% if data.jobType == "bulkaddress"%}

                                                <li class="relative border-b border-gray-200">
                                        
                                                    <button type="button" class="w-full px-8 py-6 text-left" @click="selected !== 2 ? selected = 2 : selected = null">
                                                        <div class="flex items-end">
                                                            <span class="font-medium float-left">
                                                               Bulk Address Created at {{ data.createdAt }} | 
                                                               <span class="font-medium text-gray-500">
                                                                Executed by: {{data.createdBy}} | 
                                                                <span class="font-medium text-green-600">
                                                                    Status: Success			
                                                                </span>
                                                               </span>
                                                            </span>
                                                            
                                                        </div>
                                                                    </button>

                                                                    
                                        
                                                    <div class="relative overflow-hidden transition-all max-h-0 duration-700" style="" x-ref="container1" x-bind:style="selected == 2 ? 'max-height: 200px' : ''">
                                                        <table class="min-w-full divide-y divide-gray-200 border-gray-200">
                                                           
                                                            <tbody>
                                                              
                                                              <tr class="bg-gray-50">
                                                                
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                                                    Target IP Address
                                                                </td>
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                                  {{ data.targetID }}
                                                                </td>

                                                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                                                    Firewall Type
                                                                </td>
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                                    {{ data.firewallType }}
                                                                </td>
                                                              
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                                                   Username
                                                                </td>
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                                    {{ data.username }}
                                                                </td>
                                                                
                                                              </tr>

                                                              <tr class="bg-gray-50">
                                                                
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                                                    Address Group Name
                                                                </td>
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                                  {{ data.group_name }}
                                                                </td>

                                                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                                                  Comment
                                                                </td>
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                                    {{ data.comment }}
                                                                </td>
                                                              
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                                                  Context
                                                                </td>
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                                    {{ data.context }}
                                                                </td>

                                                              </tr>

                                                              <tr class="bg-gray-50">
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                                                  Address Objects
                                                                </td>
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                                    {{ data.addressObject }}
                                                                </td>
                                                                
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                                                  Readonly
                                                                </td>
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                                    {{ data.readOnly }}
                                                                </td>
                                                              </tr>

                                                   
                                                            </tbody>
                                                          </table>
                                                    </div>
                                                    
                                                </li>
                                               

                                              {% endif %}

                                              {% if data.jobType == "dumpConfig"%}

                                                <li class="relative border-b border-gray-200">
                                        
                                                    <button type="button" class="w-full px-8 py-6 text-left" @click="selected !== 2 ? selected = 2 : selected = null">
                                                        <div class="flex items-end">
                                                            <span class="font-medium float-left">
                                                               Bulk Address Created at {{ data.createdAt }} | 
                                                               <span class="font-medium text-gray-500">
                                                                Executed by: {{data.createdBy}} | 
                                                                <span class="font-medium text-green-600">
                                                                    Status: Success			
                                                                </span>
                                                               </span>
                                                            </span>
                                                            
                                                        </div>
                                                                    </button>

                                                                    
                                        
                                                    <div class="relative overflow-hidden transition-all max-h-0 duration-700" style="" x-ref="container1" x-bind:style="selected == 2 ? 'max-height: 200px' : ''">
                                                        <table class="min-w-full divide-y divide-gray-200 border-gray-200">
                                                           
                                                            <tbody>
                                                              
                                                              <tr class="bg-gray-50">
                                                                
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                                                    Target IP Address
                                                                </td>
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                                  {{ data.targetID }}
                                                                </td>
                                                              
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                                                   Username
                                                                </td>
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                                    {{ data.username }}
                                                                </td>
                                                                
                                                              </tr>

                                                              <tr class="bg-gray-50">
                                                                
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                                                    Enable Debug Output
                                                                </td>
                                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                                  {{ data.enableDebugOutput }}
                                                                </td>

                                                              </tr>
                                                   
                                                            </tbody>
                                                          </table>
                                                    </div>
                                                    
                                                </li>
                                                {% endif %}

                                              {% endfor %} 
                                        
                                            
                                              
                                        
                                            
                                             
                                        
                                                    </ul>
                                          </div>
                                        </td>
                                       
                                      </tr>
                  
                                      <!-- More transactions... -->
                                    </tbody>
                                  </table>
                                  <!-- Pagination -->
                                  <nav class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6" aria-label="Pagination">
                                    <div class="hidden sm:block">
                                      <p class="text-sm text-gray-700">
                                        Showing
                                        <span class="font-medium">1</span>
                                        to
                                        <span class="font-medium">10</span>
                                        of
                                        <span class="font-medium">20</span>
                                        results
                                      </p>
                                    </div>
                                    <div class="flex-1 flex justify-between sm:justify-end">
                                      <a href="#" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
                                        Previous
                                      </a>
                                      <a href="#" class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
                                        Next
                                      </a>
                                    </div>
                                  </nav>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </main>
 
   
                  
        {% endblock content %}  