{% extends "base.html" %}

{% block content %}
<script>
    function doPoll(){
        $.ajax('/pipeline', function()) {
            alert(data);  // process results here
            setInterval(doPoll,2000);
        });
    }
</script>
{% for data in form_data %}
        <div> 
            {{ data.ip }}
        </div>
        {% endfor %} 
    <div class="grid grid-cols-7 mt-40">
        <div class="border border-gray-400 bg-gray-200 text-center pt-2 pb-2">
            Validate Job<br>
            Parameters
        </div>

        <div class="border border-gray-400 bg-gray-200 text-center pt-2 pb-2">
           Checkout
        </div>

        <div class="border border-gray-400 bg-gray-200 text-center pt-2 pb-2">
            Install
        </div>

        <div class="border border-gray-400 bg-gray-200 text-center pt-2 pb-2">
            Deploy
        </div>

        <div class="border border-gray-400 bg-gray-200 text-center pt-2 pb-2">
            Verify UAT<br>
            Deployment
        </div>

        <div class="border border-gray-400 bg-gray-200 text-center pt-2 pb-2">
           Create Realese
        </div>

        <div class="border border-gray-400 bg-gray-200 text-center pt-2 pb-2">
            Email Diff<br>
            Report
        </div>

        
    </div>

    <div class="grid grid-cols-7">
        <div class="border border-gray-400 bg-green-100 text-center pt-2 pb-2">
           88ms
        </div>
    
        <div class="border border-gray-400 bg-green-100 text-center pt-2 pb-2">
            11s
        </div>
    
        <div class="border border-gray-400 bg-green-100 text-center pt-2 pb-2">
            15s
        </div>
    
        <div class="border border-gray-400 bg-indigo-400 text-center pt-8 pb-8">
           
        </div>
    
        <div class="border border-gray-400 bg-gray-100 text-center pt-8 pb-8">
           
        </div>
    
        <div class="border border-gray-400 bg-white-500 text-center pt-8 pb-8">
          
        </div>
    
        <div class="border border-gray-400 bg-gray-100 text-center pt-8 pb-8">
            
        </div>
    
    
    </div>

    <div class="grid grid-cols-7">
        <div class="border border-gray-400 bg-green-100 text-center pt-2 pb-8">
            84ms
        </div>
    
        <div class="border border-gray-400 bg-green-100 text-center pt-2 pb-8">
            8s
        </div>
    
        <div class="border border-gray-400 bg-green-100 text-center pt-2 pb-8">
            15s
        </div>
    
        <div class="border border-gray-400 bg-green-100 text-center pt-2 pb-8">
            <strong>3mis 24s</strong>    
        </div>
    
        <div class="border border-gray-400 bg-green-100 text-center pt-2 pb-8">
            90ms    
        </div>
    
        <div class="border border-gray-400 bg-green-100 text-center pt-2 pb-8">
            86ms    
        </div>
    
        <div class="border border-gray-400 bg-green-100 text-center pt-2 pb-8">
            1s   
        </div>
    
    
    </div>

    <div class="grid grid-cols-7">
        <div class="border border-gray-400 bg-green-100 text-center pt-2 pb-8">
            87ms
        </div>
    
        <div class="border border-gray-400 bg-green-100 text-center pt-2 pb-8">
            8s
        </div>
    
        <div class="border border-gray-400 bg-green-100 text-center pt-2 pb-8">
            15s
        </div>
    
        <div class="border border-gray-400 bg-green-100 text-center pt-2 pb-8">
            43mis 24s
        </div>
    
        <div class="border border-gray-400 bg-green-100 text-center pt-2 pb-8">
            99ms
        </div>
    
        <div class="border border-gray-400 bg-green-100 text-center pt-2 pb-8">
            99ms
        </div>
    
        <div class="border border-gray-400 bg-green-100 text-center pt-2 pb-8">
            1s
        </div>
    
    
    </div>

    <div class="grid grid-cols-7">
        <div class="border border-gray-400 bg-green-100 text-center pt-2 pb-8">
            83ms
        </div>
    
        <div class="border border-gray-400 bg-green-100 text-center pt-2 pb-8">
            8s
        </div>
    
        <div class="border border-gray-400 bg-green-100 text-center pt-2 pb-8">
            18s
        </div>
    
        <div class="border border-gray-400 bg-green-100 text-center pt-2 pb-8">
            <strong>15mis 29s</strong>
        </div>
    
        <div class="border border-gray-400 bg-green-100 text-center pt-2 pb-8">
            108ms
        </div>
    
        <div class="border border-gray-400 bg-green-100 text-center pt-2 pb-8">
            108ms
        </div>
    
        <div class="border border-gray-400 bg-green-100 text-center pt-2 pb-8">
            1s
        </div>
    
    
    </div>

    <div class="grid grid-cols-7">
        <div class="border border-gray-400 bg-green-100 text-center pt-2 pb-8">
            82ms
        </div>
    
        <div class="border border-gray-400 bg-green-100 text-center pt-2 pb-8">
            9s
        </div>
    
        <div class="border border-gray-400 bg-green-100 text-center pt-2 pb-8">
            16s
        </div>
    
        <div class="border border-gray-400 bg-green-100 text-center pt-2 pb-8">
            <strong>9mis 54s</strong>
        </div>
    
        <div class="border border-gray-400 bg-green-100 text-center pt-2 pb-8">
            92ms
        </div>
    
        <div class="border border-gray-400 bg-green-100 text-center pt-2 pb-8">
            87ms
        </div>
    
        <div class="border border-gray-400 bg-green-100 text-center pt-2 pb-8">
            1s
        </div>
    
    
    </div>

    {% endblock content %}